<%- include("partials/header") -%>
<main>
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="compose" id="compose" class="form-control" />
      <br />
      <label for="post">Post</label>
      <textarea
        name="textArea"
        id="textArea"
        cols="30"
        rows="5"
        class="form-control"
      ></textarea>
    </div>
    <button type="submit" name="button" value="name" class="btn btn-primary">
      Publish
    </button>
  </form>
</main>

<%- include("partials/footer") -%>
